*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.container{
    width: 90vw;
    height: 85vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* header section */
header{
    background-color: #222222 ;
    color: white;
    font-size: 14px;
    height: 85px;
  
}

header i{
    font-size: 25px;
    padding-bottom: .5rem;
}

header ul{
    display: flex;
}

header li{
    list-style-type: none;
    padding-right: 1.5rem;
}



.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}


.fixed{
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 0;
    width: 100%;
}

.mic-tools,
.zoom-tools,
.end-call{
    text-align: center;

}

.fa-share-from-square{
    color: green;
}

div.end-call{
    height: 100%;
    background-color: rgb(67, 67, 67);
    color: rgb(166, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.layout-info .fa-grip{
    padding-right: .2rem;
}

/* end header section */

/* main section */

main{
    background-color: black;
    height: 100vh;
    /* width: 100vw; */
}

.layout-info{
    text-align: end;
    
    
}

.photo-section{
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
  
}

div.layout-info button{
    position: relative;
    margin-right: .5rem;
    margin-top: .5rem;
    color: white;
    background-color: grey;
    border-radius: 5px;
    padding: .3rem .4rem .3rem .4rem;
    z-index:1;
}

.card{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 275px;
    min-width: 275px;
    height: 160px;
    min-height: 160px;
    background-image: url(https://picsum.photos/275/160);
    position: relative;
    margin: .25rem .25rem;

}

.card h5{
    color: white;
    background-color: rgba(128, 128, 128, 0.61);
    padding: .3rem .4rem .3rem .4rem;
    position: absolute;
    bottom: 0;
}

/* end main section */